.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    overflow: visible;
    flex: 1 1 auto;
    width: 700px;
    min-width: 610px;
    margin: 5px;
    margin-left: 0px;
}

.play-area {
    outline: none;
    margin: 0px;
    width: 700px;
}

#table-coord-y {
    max-width: 20px;
    max-height: 600px;
    position: relative;
    top: 65px;
    border-left: 2px solid black;
    font-weight: bold;
}

#game-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    padding: 10px;
    color: white;
    background-color: #386641;
    text-align: center;
}
