<div id="play-area">
    <div style="width: 350px; display: flex; justify-content: center">
        <app-bonus-display *ngIf="gameModeService.gameMode === 1" style="width: 90%"></app-bonus-display>
    </div>
    <div id="container">
        <div id="grid-area">
            <div id="grid-container">
                <app-grid></app-grid>
            </div>
            <div id="rack-container">
                <app-letter-holder></app-letter-holder>
            </div>
        </div>
        <div id="comm-box-area">
            <app-communication-box></app-communication-box>
        </div>
    </div>
</div>
