#play-area {
    display: flex;
    height: 850px;
    background-color: #4f772d;
}

#container {
    display: flex;
    width: 1350px;
}

#grid-area {
    flex: 6;
    background-color: white;
    height: 850px;
}

#comm-box-area {
    background-color: white;
    flex: 2;
    border-style: solid;
    height: 615px;
    margin-left: 25px;
}

#grid-container {
    height: 600px;
}

#rack-container {
    margin-top: 20px;
    border-style: solid;
    border-color: #10451d;
    height: 210px;
}
